
.gridview .row td
{
    cursor: move;
    width: 200px;
    padding: 2px;
}

.hover-drop
{
    border-top: 6px solid;
}

.container-drag
{
    background-color: #FFFF00;
}

.container-drop
{
    width: 586px;
    margin-top: 20px;
    height: 100px;
    background-color: #CCCCCC;
    padding: 5px;
    border-color: #6B946F;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}