.container-gmap
{
    float:left;
    width: 65%;
}

.container-controlpanel
{
    float: left; 
    width: 35%;
}

.container-status fieldset
{
    border: solid 1px #F88017;
    padding: 3px;
    height: 60px;
    margin-bottom: 5px;
}

.container-status span
{
    font-size: 0.9em;
}