<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="myComponents.ActivationWebService.Properties.Settings.BDD"
      connectionString="User Id=adn_activation;password=Vf4n6QasW44z5mwp;database=adn_activation"
      />
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <!--
      La section <authentication> permet de configurer 
      le mode d'authentification de la sécurité utilisé par 
      ASP.NET pour identifier un utilisateur entrant. 
    -->
    <authentication mode="Windows"/>
    <!--
       La section <customErrors> permet de configurer
       les actions à exécuter si/quand une erreur non gérée se produit
       lors de l'exécution d'une requête. Plus précisément,
       elle permet aux développeurs de configurer les pages d'erreur html
       pour qu'elles s'affichent à la place d'une trace de la pile d'erreur.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="gaia" namespace="Gaia.WebWidgets" assembly="Gaia.WebWidgets"/>
        <add tagPrefix="gaia" namespace="Gaia.WebWidgets.Extensions" assembly="Gaia.WebWidgets.Extensions"/>
      </controls>
    </pages>
  </system.web>
</configuration>